body {
  background-color: lightgray;
  font-family: sans-serif;
}

.home body {
  text-align: center;
  font-family: sans-serif;
}

.home h1 {
color: blue;
}

.intro {
  font-style: italic;
}

.home img {
  width: 500px;
  float: left;
}

.home em {
  font-style: normal;
}

.sidebar {
  float: right;
  width: 25%;
  background-color: lightgreen;
  border: 20px;
  border-color: black;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.background {
  float: left;
  width: 45%;
  background-color: lightskyblue;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  box-sizing: border-box;
}

.background img {
  width: 45%;
  margin: 2.5%;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
}

.hobbies {
  float: left;
  width: 45%;
  background-color: lightskyblue;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-color: mediumblue;
  box-sizing: border-box;
}