.home body {
  text-align: center;
  font-family: sans-serif;
}

.home h1 {
color: blue;
}

.intro {
  font-style: italic;
}

.home img {
  width: 500px;
  float: left;
}

.home em {
  font-style: normal;
}

.sidebar {
  float: right;
  width: 25%;
  background-color: lightgreen;
  border: 20px;
  border-color: black;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
}